.page-header{
    background-color:#444d58;
    display: block;
    height: 45px;
    margin: 0;padding: 0;
}
.page-header .container{position: relative;}
.page-header .container > .navbar{padding: 0;margin: 0}
@media (max-width: 767px)
{
.page-header .top-menu {
    display: block;
}
}
@media (max-width: 767px)
{
.page-header .top-menu:after, .page-header  .top-menu:before {
    content: " ";
    display: table;
}
}
      /*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
  
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  
}
/*// Apply styles starting from medium devices and up to extra large devices*/
@media (min-width: 768px) and (max-width: 1199px) { 
  
  
}
.top-menu{position:relative;}
.top-menu i{color: #C1CCD1;}
.badge, .input-inline {
    vertical-align: middle;
}
.badge-danger, .badge-default, .badge-info, .badge-primary, .badge-success, .badge-warning, .btn.white:not(.btn-outline).active, .btn.white:not(.btn-outline):active, .open>.btn.white:not(.btn-outline).dropdown-toggle {
    background-image: none;
}
.badge {
    font-size: 11px!important;
    font-weight: 300;
    height: 18px;
    color: #fff;
    padding: 3px 6px;
    -webkit-border-radius: 12px!important;
    -moz-border-radius: 12px!important;
    border-radius: 12px!important;
    text-shadow: none!important;
    text-align: center;
}
.top-menu .navbar-nav .badge {
    font-family: "Open Sans",sans-serif;
    position: absolute;
    top: -6px;
    right: 51px;
    font-weight: 300;
    padding: 3px 6px;
}
.top-menu .navbar-nav .badge.badge-default {
    background-color: #f36a5a;
    color: #fff;
}
.top-menu .navbar-nav .dropdown-toggle {
    margin: 0 0 0 1px;
    padding: 17px 10px 8px;
}

.page-header .navbar-nav>li>a {
    font-size: 14px;
    font-weight: 400;
    padding: 10px 18px 14px;
}
.page-header  .navbar-nav>li>a, .page-header  .navbar-nav>li>a>i {
    color: #BCC2CB;
}
.page-header  .navbar-nav>li.active>a, .page-header .navbar-nav>li.active>a:hover, .page-header  .navbar-nav>li.current>a, .page-header  .navbar-nav>li.current>a:hover {
    color: #f1f1f1;
    background: #4E5966;
}
/*.page-header .container  {
    margin: 0;
    float: left;
}*/
.top-menu > .nav > ul > li{
    display: inline-block;
}