<div class="box-btns">   
    <a [routerLink]="['/create-project',{ foo: 'foo' }]" class="btn btn-default green clearfix" style="float:right">Create Project</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>            
            <th>Name</th>
            <th>Description</th>   
            <th>Link</th>     
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects">            
            <td>{{project.Name}}</td>
            <td>{{project.Description}}</td> 
            <td>
            <a [routerLink]="['/create-project',{name:project.Name}]" class="btn btn-default green clearfix">{{project.Name}}</a>
            </td>       
        </tr>
    </tbody>
</table>