<div class="box-btns">   
    <a [routerLink]="['/create-project']" class="btn btn-default green clearfix" style="float:right">Create Project</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>            
            <th>Name</th>
            <th>Description</th>        
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects">            
            <td>{{project.Name}}</td>
            <td>{{project.Description}}</td>        
        </tr>
    </tbody>
</table>