<div class="box-btns">   
    <a [routerLink]="['/create-user']" class="btn btn-default green clearfix" style="float:right">Create User</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
        </tr>
    </tbody>
</table>