
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>In the folder where package.json is, open command and execute following command</h2>

        <span style="color:burlywood;font-size:15px">npm run start</span>

        <h2>Then click following url</h2>

        <a href="http://localhost:4201/" target="_blank">http://localhost:4201/</a>

    </div>
</body>
</html>
