<!--<div class="page-header" *ngIf="isAuthrized">
  <div class="container">
    <nav class="nav">
      <a class="nav-link active" [routerLink]="['']">
        <img src="./assets/img/logo-default.jpg">
      </a>
      <a class="nav-link active" [routerLink]="['']">Active</a>
      <a class="nav-link" [routerLink]="['/userlist']">Users</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link disabled" href="#">Disabled</a>
    </nav>
  </div>
</div>-->
<div class="page-header" *ngIf="isAuthrized">
  <div class="container">
    <nav class="navbar navbar-toggleable-md ">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <a class="navbar-brand" href="#">Navbar</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/userlist']">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>

      </div>
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
          <li>
            <a href="javascript:;">
              <i class="fa-li fa fa-bell"></i>
              <span class="badge badge-default">7</span>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fa-li fa fa-bell"></i>
              <span class="badge badge-default">5</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

</div>