/* You can add global styles to this file, and also import other style files */

body,html {
   height:100%;
    background-color: #fff;
    color: #333;  
    font-size: 14px;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans",sans-serif;
}
a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}
a {
    text-shadow: none;
    color: #337ab7;
}
.btn, .form-control {
    box-shadow: none!important;
}
.btn {
    outline: 0!important;
}
.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}
.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}
.btn.red:not(.btn-outline) {
    color: #fff;
    background-color: #e7505a;
    border-color: #e7505a;
}
a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}
.box-btns{background-color:#e7ecf1;position:relative}
.help-block{color:red;}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
