/* You can add global styles to this file, and also import other style files */

body {
  
    background-color: #fff;
    color: #333;  
    font-size: 14px;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans",sans-serif;
}
a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}
a {
    text-shadow: none;
    color: #337ab7;
}
/*.badge, .input-inline {
    vertical-align: middle;
}
.badge-danger, .badge-default, .badge-info, .badge-primary, .badge-success, .badge-warning, .btn.white:not(.btn-outline).active, .btn.white:not(.btn-outline):active, .open>.btn.white:not(.btn-outline).dropdown-toggle {
    background-image: none;
}
.badge-default, .label-default {
    background-color: #bac3d0;
}
.badge {
    font-size: 11px!important;
    font-weight: 300;
    height: 18px;
    color: #fff;
    padding: 3px 6px;
    -webkit-border-radius: 12px!important;
    -moz-border-radius: 12px!important;
    border-radius: 12px!important;
    text-shadow: none!important;
    text-align: center;
}*/
